node_modules
build
.vscode/settings.json
.env
tmp
tmp/*
ormlogs.log
*.jpg
log
log/*
*.log
type-gen
ormlogs.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist
dist-ssr
*.local
yarn.lock
package-lock.json
typeorm/econnex_central
typeorm/econnex_central/*
typeorm/econnex_cliente
typeorm/econnex_cliente/*
typeorm/econnex_gopher
typeorm/econnex_gopher/*
pnpm-lock.yaml
**/cpsql.sh
exemplos


/html
minio-data